template(name="model_form")
	.modal
		.modal-header
			a.close(data-dismiss="modal") x
			if editingModel
				h3 Edit #{modelName}
			else
				h3 Add #{modelName}	
			.modal-body
				+each fields
					+my_dynamic_template(field=.)
			.modal-footer
				if editingModel
					a(href="#").btn.btn-warning.update Update
				else
					a(href="#").btn.btn-success.save Save
				a(href="#",data-dismiss="modal").btn.btn-cancel.cancel Cancel