template(name="nav")
	.navbar.navbar-static-top
		.navbar-inner
			a.brand(href="/") #{currentShop.name}
			if currentUser
				ul.nav
					each models
						+model
			ul.nav
				li 
					+loginButtons

template(name="model")
	if isInRole "admin"
		li
			a(href="/#{name}", id="#{name}").model=name					