template(name="nav")
	.navbar.navbar-static-top
		.navbar-inner
			a.brand(href="/") #{currentShop.name}
			if currentUser
				ul.nav
					li
						a(href="/") Home
					each models
						+model
			ul.nav
				li 
					+loginButtons

template(name="model")
	if isInRole "admin"
		li
			a(href="{{pathFor route='showmodel'}}").model=name

template(name="models_link")
	a(href="{{pathFor route=link.routeName}}").model_link=link.displayName			